version: "3.9"
services:
  abr-mamlarr:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: ghcr.io/brownster/abr-mamlarr:latest
    ports:
      - "8000:8000"
      - "8800:8800"
    environment:
      AUDIOBOOKREQUEST_PORT: 8000
      MAMLARR_PORT: 8800
      MAM_SERVICE_API_KEY: ${MAM_SERVICE_API_KEY:-changeme}
      MAM_SERVICE_MAM_SESSION_ID: ${MAM_SERVICE_MAM_SESSION_ID:-changeme}
      MAM_SERVICE_TRANSMISSION_URL: ${MAM_SERVICE_TRANSMISSION_URL:-http://transmission:9091/transmission/rpc}
